body {
  background-color: #eee
}

.container {
    width: 800px;
    margin: 0px auto;
    font-size: 18px;
}

.container h3{
    text-align: left;
    font-size: 30px;
}
.red{
    color: #be0027;
    text-align: left;
    display: inline-block;
    margin:0;
    padding:0;
    font-weight: bold;
}

.navy{
    color: #3b5aa3;
    text-align: left;
    display: inline-block;
    margin:0;
    padding:0;
    font-weight: bold;
}

.row {
    margin: 10px auto;
    width: 600px;
}

.form-group{
    margin: 10px auto;
    width: 400px;
    border: solid 1px #797979;
    background-color:#c7c7c7;
    padding: 15px 60px;
}

.step{
    color: #be0027;
}

.profile_pic {
    float: left;
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
}

.profile_pic strong{
    display: block;
    text-align: center;
    font-size: 20px;
}

.profile_pic img{
    border: solid 1px #797979;
}

.footer
{
    margin-top: 40px;
    text-size: 12px;
}